* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 0.5s;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
}

button {
  display: block;
  width: 100%;
  font-size: 35px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
